# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
*.log
*.tmp

# Android
android/.gradle/
android/app/build/
android/build/
local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/

# Windows
windows/out/
windows/Runner.recipe

# Web
web/firebase-messaging-sw.js
web/service-worker.js

# Firebase service account (sensitive)
android/app/*firebase-adminsdk*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
