#s-aaac303d-f61a-4823-9059-3616d6788311 > #backgroundBox {
  position: absolute;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Union_1 {
  position: absolute;
  width: 17.0px;
  height: 17.13812255859375px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Ellipse_3 {
  width: 3.960278542480637px;
  height: 4.046285437462075px;
  min-height: 4.046285437462075px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #AEBEC5;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Union_2 {
  position: absolute;
  width: 16.40228271484375px;
  height: 15.823974609375px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Union_3 {
  position: absolute;
  width: 17.2314453125px;
  height: 17.7237548828125px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Union_4 {
  position: absolute;
  width: 18.23138427734375px;
  height: 16.3800048828125px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_40 {
  position: absolute;
  width: 375.0000305175781px;
  height: 2.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_2 {
  position: absolute;
  width: 19.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_2 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_3 {
  position: absolute;
  width: 28.623792628725596px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_3 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_4 {
  position: absolute;
  width: 28.623792628725596px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_4 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_6 {
  position: absolute;
  width: 28.623792628725596px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_6 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_7 {
  position: absolute;
  width: 28.623792628725596px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_7 span {
  color: #7F939C;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_28 {
  position: absolute;
  width: 2.0px;
  height: 325.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_4 {
  position: absolute;
  width: 7.0px;
  height: 178.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_13 {
  position: absolute;
  width: 7.0px;
  height: 157.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_16 {
  position: absolute;
  width: 7.0px;
  height: 128.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_17 {
  position: absolute;
  width: 7.0px;
  height: 111.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_18 {
  position: absolute;
  width: 7.0px;
  height: 118.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_19 {
  position: absolute;
  width: 7.0px;
  height: 162.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_20 {
  position: absolute;
  width: 7.0px;
  height: 126.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_21 {
  position: absolute;
  width: 7.0px;
  height: 96.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_22 {
  position: absolute;
  width: 7.0px;
  height: 66.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_23 {
  position: absolute;
  width: 7.0px;
  height: 108.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_24 {
  position: absolute;
  width: 7.0px;
  height: 128.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_25 {
  position: absolute;
  width: 7.0px;
  height: 96.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_26 {
  position: absolute;
  width: 7.0px;
  height: 100.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_27 {
  position: absolute;
  width: 7.0px;
  height: 83.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_5 {
  position: absolute;
  width: 150.83246073298437px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_5 span {
  color: #7F939C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #7F939C;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 {
  position: absolute;
  width: 150.83246073298426px;
  min-height: 177.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-2.4492935982947064E-16px 4.0px 15px rgba(173,173,173,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Ellipse_2 {
  width: 116.0px;
  height: 115.9999999999998px;
  min-height: 115.9999999999998px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 12.0px;
  stroke: #D2F3FE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Intersection_2 {
  position: absolute;
  width: 60.0013427734375px;
  height: 90.00003051757812px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_13 {
  position: absolute;
  width: 65.60642570281118px;
  min-height: 36.00000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 {
  position: absolute;
  width: 150.83246073298426px;
  min-height: 177.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-2.4492935982947064E-16px 4.0px 15px rgba(173,173,173,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Ellipse_1 {
  width: 116.0px;
  height: 115.9999999999998px;
  min-height: 115.9999999999998px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 12.0px;
  stroke: #C4D4FD;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Intersection_1 {
  position: absolute;
  width: 95.58488464355469px;
  height: 116.49307250976562px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_12 {
  position: absolute;
  width: 65.60642570281118px;
  min-height: 36.00000000000014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_1 {
  position: absolute;
  width: 173.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 20.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 20.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_1 {
  position: absolute;
  width: 28.393569946289062px;
  height: 3.5666961669921875px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_2 {
  position: absolute;
  width: 28.393569946289062px;
  height: 3.5666961669921875px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_3 {
  position: absolute;
  width: 16.325302124023438px;
  height: 3.5666961669921875px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_30 {
  position: absolute;
  width: 42.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_36 {
  position: absolute;
  width: 21.297298431396484px;
  height: 11.495495796203613px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_37 {
  position: absolute;
  width: 1.220357894897461px;
  height: 3.675675868988037px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_38 {
  position: absolute;
  width: 16.54054069519043px;
  height: 6.738739013671875px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_39 {
  position: absolute;
  width: 15.621622085571289px;
  height: 9.801803588867188px;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 #s-Path_41 {
  position: absolute;
  width: 14.03408145904541px;
  height: 10.076471328735352px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-aaac303d-f61a-4823-9059-3616d6788311 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}