#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Subtraction_1 {
  position: absolute;
  width: 375.0px;
  height: 181.31463623046875px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_1 {
  position: absolute;
  width: 260.8906810826886px;
  height: 130.88832121100023px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_2 {
  position: absolute;
  width: 244.2270001421913px;
  height: 121.02885898028569px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_3 {
  position: absolute;
  width: 57.21291597543461px;
  height: 59.74290779807188px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_4 {
  position: absolute;
  width: 34.09228524317166px;
  height: 26.767829256673622px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_5 {
  position: absolute;
  width: 19.588659867564616px;
  height: 36.58720798231161px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_6 {
  position: absolute;
  width: 17.62478466703169px;
  height: 34.603292609087475px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_7 {
  position: absolute;
  width: 7.595776001940862px;
  height: 11.873438379356116px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_8 {
  position: absolute;
  width: 63.67220661115202px;
  height: 65.33218150384721px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_9 {
  position: absolute;
  width: 34.94277625238662px;
  height: 41.04600776218422px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_10 {
  position: absolute;
  width: 8.556688191664271px;
  height: 10.400878079662334px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_11 {
  position: absolute;
  width: 31.034315813789583px;
  height: 31.53724185718113px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_12 {
  position: absolute;
  width: 30.778811917137116px;
  height: 31.53724185718113px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_13 {
  position: absolute;
  width: 106.33486104939828px;
  height: 118.91969539068862px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_14 {
  position: absolute;
  width: 55.76004737375638px;
  height: 29.077386361338654px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_15 {
  position: absolute;
  width: 124.83098162459734px;
  height: 174.84226644092297px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_16 {
  position: absolute;
  width: 36.81265272665985px;
  height: 64.89808243906486px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_17 {
  position: absolute;
  width: 17.09874543404584px;
  height: 21.8280804065447px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_18 {
  position: absolute;
  width: 113.44851745153542px;
  height: 167.039665603167px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_19 {
  position: absolute;
  width: 34.39750225977917px;
  height: 61.62662439812732px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_20 {
  position: absolute;
  width: 44.09201953025047px;
  height: 16.30718385296541px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_21 {
  position: absolute;
  width: 51.466218005000314px;
  height: 40.65153814846792px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_22 {
  position: absolute;
  width: 41.36740926888416px;
  height: 89.98575535051572px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_23 {
  position: absolute;
  width: 34.21753087654588px;
  height: 62.463276595455284px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_24 {
  position: absolute;
  width: 50.705070863914955px;
  height: 37.959917225783045px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_25 {
  position: absolute;
  width: 14.30322827718851px;
  height: 20.380221806980046px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_26 {
  position: absolute;
  width: 15.680947324942792px;
  height: 29.0573471889993px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_27 {
  position: absolute;
  width: 5.7814100940103685px;
  height: 24.54844800947791px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_28 {
  position: absolute;
  width: 13.33131032281409px;
  height: 9.203163032358646px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_29 {
  position: absolute;
  width: 24.8871425747447px;
  height: 25.400457286514097px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_30 {
  position: absolute;
  width: 23.90217302578631px;
  height: 15.881343199049809px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_31 {
  position: absolute;
  width: 39.16928621837906px;
  height: 24.548448487258042px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_32 {
  position: absolute;
  width: 19.45339291606797px;
  height: 24.608566601500797px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_33 {
  position: absolute;
  width: 76.65258652398356px;
  height: 65.31390210333177px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_34 {
  position: absolute;
  width: 28.28582501914815px;
  height: 36.76255360136156px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_35 {
  position: absolute;
  width: 23.776925361846736px;
  height: 25.655633154238956px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  width: 199.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 23.0px;
  border-top-right-radius: 23.0px;
  border-bottom-right-radius: 23.0px;
  border-bottom-left-radius: 23.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #004FFB;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .borderLayer {
  border-top-left-radius: 23.0px;
  border-top-right-radius: 23.0px;
  border-bottom-right-radius: 23.0px;
  border-bottom-left-radius: 23.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 23.0px;
  border-top-right-radius: 23.0px;
  border-bottom-right-radius: 23.0px;
  border-bottom-left-radius: 23.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  letter-spacing: 2.0px;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  letter-spacing: 2.0px;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: 246.0px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_7.200.0_system',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 21.75pt;
  font-weight: 600;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_7.200.0_system',Arial;
  font-size: 21.75pt;
  font-weight: 600;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 272.621337890625px;
  min-height: 84.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_0.0.0_system',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #69808E;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_0.0.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #69808E;
  text-decoration: none;
  font-family: 'Montserrat_0.0.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_30 {
  position: absolute;
  width: 42.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_36 {
  position: absolute;
  width: 20.297297648394306px;
  height: 10.495495376141037px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_37 {
  position: absolute;
  width: 1.2203585872503027px;
  height: 3.6756757425512916px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_38 {
  position: absolute;
  width: 16.540540841480777px;
  height: 6.738739007402273px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_39 {
  position: absolute;
  width: 15.621621905842972px;
  height: 9.801803148602616px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_40 {
  position: absolute;
  width: 14.034080953515344px;
  height: 10.076471202767905px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}